@model Projet1.Models.TerrainViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TerrainViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proprietaire.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proprietaire.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeTerrain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeTerrain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionBien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionBien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.superficieBien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.superficieBien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lacaliteBien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lacaliteBien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
